@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rammetto+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg, #de1b4a 0%, #bb0029 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #e8f9fd;
  font-family: "Josefin Sans", sans-serif;
  container: main / inline-size;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  justify-items: stretch;
  align-items: start;
  width: 90%;
  height: 80vh;
  background-color: #232931;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px, rgba(0, 0, 0, 0.1) 0 4px 4px,
    rgba(0, 0, 0, 0.1) 0 8px 8px, rgba(0, 0, 0, 0.1) 0 16px 16px,
    rgba(0, 0, 0, 0.1) 0 32px 32px, rgba(0, 0, 0, 0.1) 0 64px 64px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
  }
  
  header .logo {
    position: absolute;
    left: 45px;
  }
  
  header .logo img {
    width: 40px;
    height: 40px;
  }
  
  header .search-bar {
    background-color: #393e46;
    border: solid 2px #393e46;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    color: #e8f9fd4d;
  }
  
  header .search-bar span {
    margin-right: 5px;
  }
  
  header .nav {
    position: absolute;
    right: 45px;
    text-align: right;
    margin-top: 15px;
  }
  
  header .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  header .nav ul li {
    margin-left: 20px;
  }
  
  header .nav ul li a {
    text-decoration: none;
    color: #e8f9fd;
    transition: all 0.2s ease-out 0.5ms;
  }
  
  header .nav ul li a:hover {
    color: #e8f9fd4d;
  }
  
  header .search-bar input {
    outline: none;
    border: none;
    background: transparent;
    color: #e8f9fd4d;
  }
  
  header .search-bar input::placeholder {
    color: #e8f9fd4d;
  }

article {
  display: grid;
  grid-template-columns: 35% 45% 20%;
  width: 100%;
}

.text,
.shape {
  margin: clamp(5px, 2vw, 20px); 
  display: flex;
  justify-content: center;
}

.text {
    font-size: clamp(1rem, 2.5vw, 2rem);
    flex-direction: column;
    padding: 35px;
  }
  
  .text h1 {
    font-size: clamp(1.5rem, 4vw, 3rem) ;
    margin-bottom: 20px;
  }
  
  .text p {
    line-height: 150%;
  }

.shape {
  align-items: center;
}
img {
    width: clamp(200px, 30vw, 400px);
    height: clamp(200px, 30vw, 400px); 
  }

.sidebar {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  justify-content: flex-end;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 20px;
  min-width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  transition: all 0.2s ease-out 0.5ms;
}

.sidebar ul li h1 {
    font-size: clamp(1rem, 1.5vw, 1.5rem); 
    margin: 0;
    padding: 0;
  }
  
  .sidebar ul li p {
    font-size: clamp(0.875rem, 1vw, 1rem);
    margin: 5px 10px 0 0;
    padding: 0;
    line-height: 150%;
  }

.sidebar ul li:hover {
  background-color: #393e46;
}

.sidebar ul li a {
  text-decoration: none;
  color: #e8f9fd;
}

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 10px;
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    header .nav {
      position: static;
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
  
    header .nav ul {
      justify-content: center;
      padding: 10px;
    }
  
    header .nav ul li {
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    main {
      height: 100vh;
    }
  
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .text {
      padding: 20px;
    }
  
    .shape {
      margin: clamp(5px, 2vw, 20px);
    }
  
    .sidebar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding: 10px 0;
      height: auto;
      margin-top: 20px;
    }
  
    .sidebar ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    .sidebar ul li {
      min-width: 100px;
    }

    .nav{
        width: 100%;
    }
    
    
  }